<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">Click the Scrape button to get the latest news</p>
  </div>
</div>

<button type="button" class="btn btn-dark" id="scrape">Scrape</button>
<a href='/savedpage' class='btn btn-dark'>Saved Articles</a>

<div class="articles"></div>

</div>
